<div class="modal fade" id="mobileNavModal" tabindex="-1" aria-labelledby="mobileNavModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-fullscreen">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Menu</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body d-flex flex-column align-items-center justify-content-center">
                <ul class="navbar-nav text-center fs-3">
                    <a class="nav-link menu-link" href="#about"><li class="nav-item" data-bs-dismiss="modal">About</li></a>
                    <a class="nav-link menu-link" href="#services"><li class="nav-item" data-bs-dismiss="modal">Services</li></a>
                    <a class="nav-link menu-link" href="#team"><li class="nav-item" data-bs-dismiss="modal">Team</li></a>
                    <a class="nav-link menu-link" href="#pricing"><li class="nav-item" data-bs-dismiss="modal">Pricing</li></a>
                    <a class="nav-link menu-link" href="#blog"><li class="nav-item" data-bs-dismiss="modal">Blog</li></a>
                </ul>
            </div>
        </div>
    </div>
</div>