<!doctype html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8" />
    <title>Landrick - Bootstrap 5 Multipurpose App, Saas & Software Landing & Admin Dashboard Template</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Premium Bootstrap 5 Landing Page Template" />
    <meta name="keywords" content="Saas, Software, multi-uses, HTML, Clean, Modern" />
    <meta name="author" content="Shreethemes" />
    <meta name="email" content="support@shreethemes.in" />
    <meta name="website" content="https://shreethemes.in/" />
    <meta name="Version" content="v4.9.0" />

    <!-- favicon -->
    <link rel="shortcut icon" href="images/favicon.ico" />
    <!-- Css -->
    <link href="libs/simplebar/simplebar.min.css" rel="stylesheet">
    <!-- Bootstrap Css -->
    <link href="css/bootstrap.min.css" class="theme-opt" rel="stylesheet" type="text/css" />
    <!-- Icons Css -->
    <link href="libs/%40mdi/font/css/materialdesignicons.min.css" rel="stylesheet" type="text/css">
    <link href="css/icons.min.css" rel="stylesheet" type="text/css" />
    <link href="libs/%40iconscout/unicons/css/line.css" type="text/css" rel="stylesheet" />
    <!-- Style Css-->
    <link href="css/style.min.css" class="theme-opt" rel="stylesheet" type="text/css" />


</head>

<body>
    <!-- Loader -->
    <!-- <div id="preloader">
            <div id="status">
                <div class="spinner">
                    <div class="double-bounce1"></div>
                    <div class="double-bounce2"></div>
                </div>
            </div>
        </div> -->
    <!-- Loader -->

    <div class="page-wrapper toggled">
        <!-- sidebar-wrapper -->
        <%- include('./common/navbar.ejs')%>
            <!-- sidebar-wrapper  -->

            <!-- Start Page Content -->
            <main class="page-content bg-light">
                <!-- Top Header -->
                <%- include('./common/topHeader.ejs')%>
                    <!-- Top Header -->

                    <div class="container-fluid">
                        <div class="layout-specing">
                            <div class="d-flex align-items-center justify-content-between">
                                <div>
                                    <h6 class="text-muted mb-1">Welcome back, User</h6>
                                    <h5 class="mb-0">Sahil</h5>
                                </div>

                                <div class="mb-0 position-relative">
                                    <select class="form-select form-control" id="dailychart">
                                        <option selected="">This Month</option>
                                        <option value="aug">August</option>
                                        <option value="jul">July</option>
                                        <option value="jun">June</option>
                                    </select>
                                </div>
                            </div>


                            <div class="container mt-5">
                                <h2 class="mb-4 text-center">Website Management</h2>
                            </div>
                            <div class="container">
                                <form id="editPgForm">
                                    <!-- Website Name -->
                                    <div class="mb-3">
                                        <label class="form-label">Website Name</label>
                                        <input type="text" id="name" value="<%= userDetail?.website?.name%>" class="form-control"
                                            placeholder="Enter website name" required>
                                        <small class="text-muted">Note: The name has to unique</small>
                                    </div>
                                    <div class="mb-3">
                                        <label class="form-label">Select website theme Color</label>
                                        <input type="color" id="websiteThemeColor"
                                            class="form-control form-control-color">
                                    </div>
                                    <hr>


                                    <!-- Home Page Description -->
                                    <h4 class="mb-3">Home Page Details</h4>
                                    <div class="row">
                                        <div class="col-md-6 mb-2">
                                            <div class="mb-3">
                                                <label class="form-label">Nav bar Brand</label>
                                                <input type="text" id="brandName" class="form-control"
                                                    placeholder="Enter main heading">
                                                <small class="text-muted">You can enter a brand name or upload an
                                                    image.</small>
                                            </div>
                                        </div>
                                        <div class="col-md-6 mb-2">
                                            <div class="mb-3">
                                                <label class="form-label">Nav bar Image</label>
                                                <input type="file" accept="image/*" id="navImage"
                                                    class="form-control" placeholder="Enter main the navbar image">
                                                <small class="text-muted">You can enter a brand name or upload an
                                                    image.</small>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6 mb-2">
                                            <div class="mb-3">
                                                <label class="form-label">Contact Number </label>
                                                <input type="number" id="contactNumber" class="form-control"
                                                    placeholder="Enter main heading">
                                            </div>
                                        </div>
                                        <div class="col-md-6 mb-2">
                                            <div class="mb-3">
                                                <label class="form-label">Contact Number link</label>
                                                <input type="text" id="contactLink" class="form-control"
                                                    placeholder="Enter main heading">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6 mb-2">
                                            <div class="mb-3">
                                                <label class="form-label">Button Content</label>
                                                <input type="text" id="buttonText" class="form-control"
                                                    placeholder="Enter button text">
                                            </div>
                                        </div>
                                        <div class="col-md-6 mb-2">
                                            <div class="mb-3">
                                                <label class="form-label">Button Link</label>
                                                <input type="text" id="buttonLink" class="form-control"
                                                    placeholder="Enter button link">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="mb-3">
                                        <label class="form-label">Body Main Heading</label>
                                        <input type="text" id="heading" class="form-control"
                                            placeholder="Enter body heading">
                                    </div>

                                    <div class="mb-3">
                                        <label class="form-label">Sub Heading</label>
                                        <input type="text" id="subheading" class="form-control"
                                            placeholder="Enter sub heading">
                                    </div>

                                    <hr>

                                    <!-- Section Toggles -->

                                    <!-- About Section -->

                                    <h4 class="mb-3">About Section</h4>
                                    <div class="form-check form-switch mb-3">
                                        <input class="form-check-input section-toggle" type="checkbox"
                                            id="aboutToggle" checked>
                                        <label class="form-check-label" for="aboutToggle">Enable About
                                            Section</label>
                                    </div>

                                    <div id="aboutSection">
                                        <div class="mb-3">
                                            <label class="form-label">Title</label>
                                            <input type="text" class="form-control" id="aboutTitle"
                                                placeholder="Enter About Title">
                                        </div>

                                        <div class="mb-3">
                                            <label class="form-label">Heading</label>
                                            <input type="text" class="form-control" id="aboutHeading"
                                                placeholder="Enter About Heading">
                                        </div>

                                        <!-- Features List -->
                                        <h5 class="mb-3">Features</h5>
                                        <div id="featuresContainer"></div>

                                        <!-- Add Feature Button -->
                                        <button type="button" class="btn btn-success mb-3" id="addFeatureBtn">Add
                                            Feature</button>
                                    </div>
                                    <hr>

                                    <div id="teamsSection">
                                        <h4 class="mb-3">Teams Section</h4>

                                        <!-- Service Heading -->
                                        <div class="mb-3">
                                            <label class="form-label">Heading</label>
                                            <input type="text" id="teamHeading" class="form-control"
                                                placeholder="Enter service heading">
                                        </div>

                                        <div class="mb-3">
                                            <label class="form-label">Insert the images</label>
                                            <input type="file" multiple accept="image/*" id="teamImages"
                                                class="form-control" placeholder="Enter thumbnail URL">
                                        </div>

                                    </div>

                                    <hr>
                                    <!-- Services Section -->
                                    <h4 class="mb-3">Services Sections</h4>
                                    <div class="form-check form-switch mb-3">
                                        <input class="form-check-input" type="checkbox" id="servicesToggle" checked>
                                        <label class="form-check-label" for="serviceToggle">Enable Service
                                            Section</label>
                                    </div>

                                    <div id="serviceSection" class="mb-3">
                                        <!-- Service Title -->
                                        <div class="mb-3">
                                            <label class="form-label">Title (e.g., Amenities)</label>
                                            <input type="text" id="serviceTitle" class="form-control"
                                                placeholder="Enter service title">
                                        </div>

                                        <!-- Service Heading -->
                                        <div class="mb-3">
                                            <label class="form-label">Heading (e.g., What we offer)</label>
                                            <input type="text" id="serviceHeading" class="form-control"
                                                placeholder="Enter service heading">
                                        </div>


                                        <!-- Description -->
                                        <div class="mb-3">
                                            <label class="form-label">Description</label>
                                            <textarea class="form-control" rows="3" id="serviceDescription"
                                                placeholder="Enter service description"></textarea>
                                        </div>
                                        <!-- Description -->
                                        <div class="mb-3">
                                            <label class="form-label">Features</label>
                                            <input class="form-control" rows="3" id="serviceFeatures"
                                                placeholder="Enter all features seperated by comas"></input>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6 mb-2">
                                                <div class="mb-3">
                                                    <label class="form-label">Video URL</label>
                                                    <input type="file" accept="video/*" id="serviceVideo"
                                                        class="form-control" placeholder="Enter video URL">
                                                </div>
                                            </div>
                                            <div class="col-md-6 mb-2">
                                                <div class="mb-3">
                                                    <label class="form-label">Thumbnail URL</label>
                                                    <input type="file" accept="image/*" id="serviceVideoThumbnail"
                                                        class="form-control" placeholder="Enter thumbnail URL">
                                                </div>
                                            </div>
                                        </div>
                                        <!-- Service Cards -->
                                        <h6>Service Cards</h6>
                                        <div id="cardsContainer"></div>
                                        <button type="button" class="btn btn-success mt-2" id="addCardBtn">Add
                                            Card</button>

                                        <!-- Video Section -->
                                    </div>

                                    <hr>



                                    <!-- Pricing Section -->
                                    <!-- Toggle Pricing Section -->
                                    <h4 class="mb-3">Price Section</h4>
                                    <div class="form-check form-switch mb-3">
                                        <input class="form-check-input" type="checkbox" id="pricingToggle" checked>
                                        <label class="form-check-label" for="pricingToggle">Enable Pricing
                                            Section</label>
                                    </div>

                                    <div id="pricingSection" class="mb-3">
                                        <!-- Pricing Title -->
                                        <div class="mb-3">
                                            <label class="form-label">Title (e.g., Single Occupancy
                                                Studios)</label>
                                            <input type="text" id="priceTitle" class="form-control"
                                                placeholder="Enter pricing title">
                                        </div>

                                        <!-- Pricing Heading -->
                                        <div class="mb-3">
                                            <label class="form-label">Heading</label>
                                            <input type="text" id="priceHeading" class="form-control"
                                                placeholder="Enter pricing heading">
                                        </div>

                                        <!-- Pricing Subheading -->
                                        <div class="mb-3">
                                            <label class="form-label">Subheading</label>
                                            <input type="text" class="form-control" id="priceSubheading"
                                                placeholder="Enter pricing subheading">
                                        </div>

                                        <!-- Price List -->
                                        <h6>Pricing Plans</h6>
                                        <div id="priceListContainer"></div>
                                        <button type="button" class="btn btn-success mt-2" id="addPriceBtn">Add
                                            Pricing Plan</button>

                                    </div>

                                    <hr>

                                    <h4 class="mb-3">Footer Section</h4>

                                    <!-- Footer section -->
                                    <div id="footerSection">
                                        <!-- Footer Heading -->
                                        <div class="mb-3">
                                            <label class="form-label">Heading</label>
                                            <input type="text" id="footerHeading" class="form-control"
                                                placeholder="Enter pricing heading">
                                        </div>

                                        <!-- Footer Subheading -->
                                        <div class="mb-3">
                                            <label class="form-label">Subheading</label>
                                            <input type="text" class="form-control" id="footerSubheading"
                                                placeholder="Enter pricing subheading">
                                        </div>
                                        <div class="mb-3">
                                            <label class="form-label">Address</label>
                                            <input type="text" class="form-control" id="address"
                                                placeholder="Enter address">
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6 mb-2">
                                                <div class="mb-2">
                                                    <label class="form-label">Enter Phone</label>
                                                    <input type="text" id="footerPhoneNumber" class="form-control"
                                                        placeholder="Enter phone number">
                                                </div>
                                            </div>
                                            <div class="col-md-6 mb-2">
                                                <div class="mb-2">
                                                    <label class="form-label">Email</label>
                                                    <input type="email" id="footerEmail" class="form-control"
                                                        placeholder="Enter email">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-4 mb-2">
                                                <label class="form-label">Instagram</label>
                                                <input type="text" id="linkInstagram" class="form-control"
                                                    placeholder="Enter Instagram link">
                                            </div>
                                            <div class="col-md-4 mb-2">
                                                <label class="form-label">Facebook</label>
                                                <input type="text" id="linkFacebook" class="form-control"
                                                    placeholder="Enter Facebook link">
                                            </div>
                                            <div class="col-md-4 mb-2">
                                                <label class="form-label">Twitter (X)</label>
                                                <input type="text" id="linkX" class="form-control"
                                                    placeholder="Enter Twitter link">
                                            </div>
                                        </div>
                                    </div>
                                    <button type="submit" class="btn btn-primary w-100 my-2">Save
                                        Configuration</button>
                                </form>
                            </div>

                        </div>
                    </div><!--end container-->

                    <!-- Footer Start -->
                    <footer class="shadow py-3">
                        <div class="container-fluid">
                            <div class="row align-items-center">
                                <div class="col">
                                    <div class="text-sm-start text-center mx-md-2">
                                        <p class="mb-0 text-muted">©
                                            <script>document.write(new Date().getFullYear())</script> Landrick. Design
                                            with
                                            <i class="mdi mdi-heart text-danger"></i> by <a
                                                href="https://shreethemes.in/" target="_blank"
                                                class="text-reset">Shreethemes</a>.
                                        </p>
                                    </div>
                                </div><!--end col-->
                            </div><!--end row-->
                        </div><!--end container-->
                    </footer><!--end footer-->
                    <!-- End -->
            </main>
            <!--End page-content" -->
    </div>
    <!-- page-wrapper -->

    <!-- Offcanvas Start -->
    <div class="offcanvas offcanvas-end shadow" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
        <div class="offcanvas-header p-4 border-bottom">
            <h5 id="offcanvasLeftLabel" class="mb-0">
                <img src="images/logo-dark.png" height="24" class="light-version" alt="">
                <img src="images/logo-light.png" height="24" class="dark-version" alt="">
            </h5>
            <button type="button" class="btn-close d-flex align-items-center text-dark" data-bs-dismiss="offcanvas"
                aria-label="Close"><i class="uil uil-times fs-4"></i></button>
        </div>
        <div class="offcanvas-body p-4">
            <div class="row">
                <div class="col-12">
                    <div class="text-center">
                        <h6 class="fw-bold">Theme Options</h6>

                        <ul class="text-center style-switcher list-unstyled mt-4">
                            <li class="d-grid"><a href="javascript:void(0)" class="rtl-version t-rtl-light"
                                    onclick="setTheme('style-rtl')"><img src="images/demos/rtl.png"
                                        class="img-fluid rounded-md shadow-md d-block mx-auto" style="width: 230px;"
                                        alt=""><span class="text-dark fw-medium mt-3 d-block">RTL Version</span></a>
                            </li>
                            <li class="d-grid"><a href="javascript:void(0)" class="ltr-version t-ltr-light"
                                    onclick="setTheme('style')"><img src="images/demos/ltr.png"
                                        class="img-fluid rounded-md shadow-md d-block mx-auto" style="width: 230px;"
                                        alt=""><span class="text-dark fw-medium mt-3 d-block">LTR Version</span></a>
                            </li>
                            <li class="d-grid"><a href="javascript:void(0)" class="dark-rtl-version t-rtl-dark"
                                    onclick="setTheme('style-dark-rtl')"><img src="images/demos/dark-rtl.png"
                                        class="img-fluid rounded-md shadow-md d-block mx-auto" style="width: 230px;"
                                        alt=""><span class="text-dark fw-medium mt-3 d-block">RTL Version</span></a>
                            </li>
                            <li class="d-grid"><a href="javascript:void(0)" class="dark-ltr-version t-ltr-dark"
                                    onclick="setTheme('style-dark')"><img src="images/demos/dark.png"
                                        class="img-fluid rounded-md shadow-md d-block mx-auto" style="width: 230px;"
                                        alt=""><span class="text-dark fw-medium mt-3 d-block">LTR Version</span></a>
                            </li>
                            <li class="d-grid"><a href="javascript:void(0)" class="dark-version t-dark mt-4"
                                    onclick="setTheme('style-dark')"><img src="images/demos/dark.png"
                                        class="img-fluid rounded-md shadow-md d-block mx-auto" style="width: 230px;"
                                        alt=""><span class="text-dark fw-medium mt-3 d-block">Dark Version</span></a>
                            </li>
                            <li class="d-grid"><a href="javascript:void(0)" class="light-version t-light mt-4"
                                    onclick="setTheme('style')"><img src="images/demos/ltr.png"
                                        class="img-fluid rounded-md shadow-md d-block mx-auto" style="width: 230px;"
                                        alt=""><span class="text-dark fw-medium mt-3 d-block">Light Version</span></a>
                            </li>
                            <li class="d-grid"><a href="https://shreethemes.in/landrick/landing/index.html"
                                    target="_blank" class="mt-4"><img src="images/demos/landing.png"
                                        class="img-fluid rounded-md shadow-md d-block mx-auto" style="width: 230px;"
                                        alt=""><span class="text-dark fw-medium mt-3 d-block">Landing</span></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="offcanvas-footer p-4 border-top text-center">
            <ul class="list-unstyled social-icon social mb-0">
                <li class="list-inline-item mb-0"><a href="https://1.envato.market/landrick" target="_blank"
                        class="rounded"><i class="uil uil-shopping-cart align-middle" title="Buy Now"></i></a></li>
                <li class="list-inline-item mb-0"><a href="https://dribbble.com/shreethemes" target="_blank"
                        class="rounded"><i class="uil uil-dribbble align-middle" title="dribbble"></i></a></li>
                <li class="list-inline-item mb-0"><a href="https://www.behance.net/shreethemes" target="_blank"
                        class="rounded"><i class="uil uil-behance align-middle" title="behance"></i></a></li>
                <li class="list-inline-item mb-0"><a href="https://www.facebook.com/shreethemes" target="_blank"
                        class="rounded"><i class="uil uil-facebook-f align-middle" title="facebook"></i></a></li>
                <li class="list-inline-item mb-0"><a href="https://www.instagram.com/shreethemes/" target="_blank"
                        class="rounded"><i class="uil uil-instagram align-middle" title="instagram"></i></a></li>
                <li class="list-inline-item mb-0"><a href="https://twitter.com/shreethemes" target="_blank"
                        class="rounded"><i class="uil uil-twitter align-middle" title="twitter"></i></a></li>
                <li class="list-inline-item mb-0"><a href="mailto:support@shreethemes.in" class="rounded"><i
                            class="uil uil-envelope align-middle" title="email"></i></a></li>
                <li class="list-inline-item mb-0"><a href="https://shreethemes.in/" target="_blank" class="rounded"><i
                            class="uil uil-globe align-middle" title="website"></i></a></li>
            </ul><!--end icon-->
        </div>
    </div>
    <!-- Offcanvas End -->

    <!-- javascript -->
    <!-- JAVASCRIPT -->
    <script src="libs/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="libs/feather-icons/feather.min.js"></script>
    <script src="libs/simplebar/simplebar.min.js"></script>
    <script src="libs/apexcharts/apexcharts.min.js"></script>
    <!-- Main Js -->
    <script src="js/plugins.init.js"></script>
    <script src="js/app.js"></script>


</body>

</html>