<div fs-mirrorclick-element="trigger" class="propert_header_image-grid">
    <div id="w-node-_7f1ff982-b5b7-2d1f-cda2-867e36520b2b-07dfe7ed"
      data-w-id="7f1ff982-b5b7-2d1f-cda2-867e36520b2b" style="" class="property_header_image-cover"><img
        loading="lazy"
        src="https://cdn.prod.website-files.com/6593ed11d5ad65d107dfe790/67d25a2ed4145a4b4ab4d0b4_67d2568e689c401411f388ce_DSC05812-HDR.webp"
        alt="" class="property_header_image" /></div>
    <div id="w-node-_9364217d-d248-94b7-f15f-21b434f1dda6-07dfe7ed"
      class="property_header_image-gallery w-dyn-list">
      <script type="text/x-wf-template"
        id="wf-template-9364217d-d248-94b7-f15f-21b434f1dda7">%3Cdiv%20role%3D%22listitem%22%20class%3D%22property_header_image-gallery-item%20w-dyn-item%20w-dyn-repeater-item%22%3E%3Cimg%20alt%3D%22%22%20loading%3D%22lazy%22%20width%3D%22Auto%22%20height%3D%22Auto%22%20src%3D%22https%3A%2F%2Fcdn.prod.website-files.com%2F6593ed11d5ad65d107dfe790%2F67d25a2ed4145a4b4ab4d0b1_67d2568fc1863eb91b02f6f9_DSC05803-HDR.webp%22%20class%3D%22property_header_image-gallery-image%22%2F%3E%3C%2Fdiv%3E</script>
      <div role="list" class="property_header_image-gallery-list w-dyn-items">
        <div role="listitem" class="property_header_image-gallery-item w-dyn-item w-dyn-repeater-item"><img alt=""
            loading="lazy" width="Auto" height="Auto"
            src="https://cdn.prod.website-files.com/6593ed11d5ad65d107dfe790/67d25a2ed4145a4b4ab4d0b1_67d2568fc1863eb91b02f6f9_DSC05803-HDR.webp"
            class="property_header_image-gallery-image" /></div>
        <div role="listitem" class="property_header_image-gallery-item w-dyn-item w-dyn-repeater-item"><img alt=""
            loading="lazy" width="Auto" height="Auto"
            src="https://cdn.prod.website-files.com/6593ed11d5ad65d107dfe790/67d25a2ed4145a4b4ab4d0c0_67d2568e49220d0665e27111_DSC05813-HDR.webp"
            class="property_header_image-gallery-image" /></div>
        <div role="listitem" class="property_header_image-gallery-item w-dyn-item w-dyn-repeater-item"><img alt=""
            loading="lazy" width="Auto" height="Auto"
            src="https://cdn.prod.website-files.com/6593ed11d5ad65d107dfe790/67d25a2ed4145a4b4ab4d0b7_67d2568e9a9ac17a63b911b2_DSC05783-HDR.webp"
            class="property_header_image-gallery-image" /></div>
        <div role="listitem" class="property_header_image-gallery-item w-dyn-item w-dyn-repeater-item"><img alt=""
            loading="lazy" width="Auto" height="Auto"
            src="https://cdn.prod.website-files.com/6593ed11d5ad65d107dfe790/67d25a2ed4145a4b4ab4d0ae_67d2568e8f7f40e02dbf17f1_DSC05788-HDR.webp"
            class="property_header_image-gallery-image" /></div>
        <div role="listitem" class="property_header_image-gallery-item w-dyn-item w-dyn-repeater-item"><img alt=""
            loading="lazy" width="Auto" height="Auto"
            src="https://cdn.prod.website-files.com/6593ed11d5ad65d107dfe790/67d25a2ed4145a4b4ab4d0b4_67d2568e689c401411f388ce_DSC05812-HDR.webp"
            class="property_header_image-gallery-image" /></div>
        <div role="listitem" class="property_header_image-gallery-item w-dyn-item w-dyn-repeater-item"><img alt=""
            loading="lazy" width="Auto" height="Auto"
            src="https://cdn.prod.website-files.com/6593ed11d5ad65d107dfe790/67d25a2ed4145a4b4ab4d0ba_67d2569349220d0665e273f3_DSC05828-HDR.webp"
            class="property_header_image-gallery-image" /></div>
        <div role="listitem" class="property_header_image-gallery-item w-dyn-item w-dyn-repeater-item"><img alt=""
            loading="lazy" width="Auto" height="Auto"
            src="https://cdn.prod.website-files.com/6593ed11d5ad65d107dfe790/67d25a2ed4145a4b4ab4d0a5_67d25693e92badb00bc24c01_DSC05823-HDR.webp"
            class="property_header_image-gallery-image" /></div>
        <div role="listitem" class="property_header_image-gallery-item w-dyn-item w-dyn-repeater-item"><img alt=""
            loading="lazy" width="Auto" height="Auto"
            src="https://cdn.prod.website-files.com/6593ed11d5ad65d107dfe790/67d25a2ed4145a4b4ab4d0bd_67d256931d645f054446fdbc_DSC05818-HDR.webp"
            class="property_header_image-gallery-image" /></div>
      </div>
    </div>
    <!-- Modal with Carousel -->
    <% var images=website && website.team && website.team.images ? website.team.images : []; %>
      <%- include('./modals/imageModals.ejs', { website: website }) %>
        <div class="property_header_button-wrapper"><a href="#" fs-mirrorclick-element="target"
            data-bs-toggle="modal" data-bs-target="#imageModal"
            class="button button-lavender-20 is-small w-inline-block w-lightbox">
            <div class="icon-embed-custom w-embed"><svg xmlns="http://www.w3.org/2000/svg" width="100%"
                height="100%" viewBox="0 0 20 20" fill="none" preserveAspectRatio="xMidYMid meet" role="img">
                <path
                  d="M7.49984 18.3334H12.4998C16.6665 18.3334 18.3332 16.6667 18.3332 12.5001V7.50008C18.3332 3.33341 16.6665 1.66675 12.4998 1.66675H7.49984C3.33317 1.66675 1.6665 3.33341 1.6665 7.50008V12.5001C1.6665 16.6667 3.33317 18.3334 7.49984 18.3334Z"
                  stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                <path
                  d="M7.50016 8.33333C8.42064 8.33333 9.16683 7.58714 9.16683 6.66667C9.16683 5.74619 8.42064 5 7.50016 5C6.57969 5 5.8335 5.74619 5.8335 6.66667C5.8335 7.58714 6.57969 8.33333 7.50016 8.33333Z"
                  stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                <path
                  d="M2.2251 15.7916L6.33343 13.0332C6.99176 12.5916 7.94176 12.6416 8.53343 13.1499L8.80843 13.3916C9.45843 13.9499 10.5084 13.9499 11.1584 13.3916L14.6251 10.4166C15.2751 9.85822 16.3251 9.85822 16.9751 10.4166L18.3334 11.5832"
                  stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
              </svg></div>
            <div>Show all images</div>
          </a></div>
        <div id="w-node-ed401769-7947-e231-e785-c8d81576b8f0-07dfe7ed" class="hide w-embed">
          <style>
            .property_header_image-gallery-item:nth-child(n+5) {
              display: none;
            }
          </style>
        </div>
  </div>